/* Getting started index page */
.bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: 5px;
    margin-left: 15px;
    border-bottom: 1px solid rgba(0,0,100,.05);
}

.intro-card {
  background: #fff;
  border-radius: 0;
  padding: 30px 10px 10px 10px;
  margin: 10px 0px;
}

.intro-card .card-text {
  margin: 20px 0px;
  /*min-height: 150px; */
}

.custom-button {
  background-color: #dcdcdc;
  border: none;
  color: #484848;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  max-width: 220px;
  padding: 0.5rem 0rem;
}

.custom-button a {
  color: #484848;
}

.custom-button p {
  margin-top: 0;
  margin-bottom: 0rem;
  color: #484848;
}
